<link href="css/styleCreateMedi.css" rel="stylesheet">

<ion-view view-title="Medikamentenliste">
  <ion-content  class="wrapper" scroll="true" ng-init="loadMediList('MediBox')" >
    <div class="col">
    <!--Header-->
      <div class="row">
        <button class="editButton" ng-click="openmedi()">
             Zurück
        </button>
        <label class="HeaderTitle">Medikamentenliste</label>
      </div>
    </div>
    <!--MediList-->
    <div class="col" id="MediBox">
    </div>
    <button ng-click="addMedicament()" class="addButton">Add Medi</button>
  </ion-content>
</ion-view>
