<link href="css/styleCreateMedi.css" rel="stylesheet">

<ion-view view-title="Medikamentenliste">
  <ion-content  class="wrapper" scroll="false" ng-init="loadMediList('MediBox')" >
    <div class="col">
    <!--Header-->
      <div class="row">
              <button class="medButton" ng-click="addMedicament()">
                <img class="menuButtons" src="img\Button.png">
                </img>
              </button>
              <label>Medikamentenliste</label>
              <button class="medButton" ng-click="saveLocalStorage('MediBox')">
                <img class="menuButtons" src="img\Button.png">
                </img>
              </button>
        </div>
    </div>
    <!--MediList-->
    <div class="col mediBox" id="MediBox">

    </div>


  <button>Add Medi</button>
  </ion-content>
</ion-view>
