<ion-view view-title="Gewicht">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class="padding" scroll="true">
    <div class="chartContainer">
      <div class="chartTitle input-label"><h3>Gewicht</h3></div>
        <div class="inputContainer chartDesc">
          <div class="inputTitle input-label">Gewicht eingeben:</div>
          <label class="item item-input">
            <input type="text" id="obsWheigtInput" class="inputObservation" placeholder="Dein Gewicht in kg">
          </label>
          <button id="saveObsWeight" ng-click="saveWeight()" class="button button-full button-positive">Gewicht speichern</button>
        </div>
      <div class="ct-chartBar ct-perfect-fourth chart"></div>
    </div>
  </ion-content>
</ion-view>
