<ion-view view-title="Home">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
  <ion-content>
  <!--Logo row-->
  <div class="row">
    <div class="col">
        <div id="logo">
          <img src="img\logo.PNG"/>
        </div>
  </div>

  <!--Button Row-->
  <div class="row">
    <div class="col"/>
    <!--TelButton-->
    <div class="col">
      <button id="NavButton" ng-click="opentel()" >
        <img class="ImgButton" src="img\Tel.PNG"/>
      </button>
    </div>
    <div class="colSpacer"/>
    <!--MediButon-->
    <div class="col">
      <button id="NavButton" ng-click="openmedi()" >
        <img class="ImgButton" src="img\medi.PNG"/>
      </button>
    </div>
    <div class="col"/>
  </div>

</ion-content>
</ion-view>
