<ion-view view-title="Home">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
  <ion-content class="wrapper">
  <!--Logo row-->
  <div class="row responsive-lg">
    <div class="col">
      <div id="logo">
        <img src="img\logo - Kopie.PNG"/>
      </div>
    </div>
  </div>


  <!--Button Row-->
  <div class="row responsive-lg" id="spacer">
    <div class="col"></div>
    <!--TelButton-->
    <div class="col">
      <button id="NavButton" ng-click="opentel()" >
        <img class="ImgButton" src="img\Tel.PNG"></img>
      </button>
    </div>
    <div class="col"></div>
    <!--MediButon-->
    <div class="col">
      <button id="NavButton" ng-click="openmedi()" >
        <img class="ImgButton" src="img\medi.PNG"></img>
      </button>
    </div>
    <div class="col"></div>
  </div>

</ion-content>
</ion-view>
