<link href="css/styleMedPlan.css" rel="stylesheet">
<link id="original" rel="stylesheet" href="css/styleMedPlanColorNormal.css">

<ion-view view-title="Medikationsplan">
  <ion-content  class="wrapper" scroll="false">
    <div>
      <button class="medButton" ng-click="showLocalStorage()">
        <img class="menuButtons" src="img\Button.png"></img>
      </button>
      <button class="medButton" ng-click="saveLocalStorage()">
        <img class="menuButtons" src="img\Button.png"></img>
      </button>
      <button class="medButton" ng-click="opencreateMedi()">
        <img class="menuButtons" src="img\Button.png"></img>
      </button>
    </div>
    <div class="leftNavigation">
      <button id="sideButtonleft" class="navButton" ng-click="openhome()" >
        <img class="navImg" src="img\ButtonHomeLeft.PNG"></img>
      </button>
    </div>
    <div class="content">

        <div class="col">
          <div class="row">
          <div class="col {{header.class}}" ng-repeat="header in header">{{header.title}} </div>
        </div>
      <div class="row {{days.class}}" ng-repeat="days in days">{{days.title}}
        <div class="col HeaderBlock {{time.class}}" ng-repeat="time in time" ng-click="showPopup()">{{time.text}}<img class="medButtonTaken"></img>  </div>
      </div>
    </div>
      <!--Header-->
    </div>
    <div class="rightNavigation">
      <button id="sideButtonright" class="navButton" ng-click="opentel()" >
        <img class="navImg" src="img\ButtonTelRight.PNG"></img>
      </button>
    </div>
  </ion-content>
</ion-view>
