<link href="css/styleMedPlan.css" rel="stylesheet">
<link href="css/styleMedPlanColorBlind.css" rel="stylesheet">

<ion-view view-title="Medikationsplan">
  <ion-content  class="wrapper">
    <div class="leftNavigation">
      <button id="sideButtonleft" class="navButton" ng-click="openhome()" >
        <img class="navImg" src="img\ButtonHomeLeft.PNG"></img>
      </button>
    </div>
    <div class="content">
      <!--Header-->
      <div class="row">TAG
        <!--Morgen-->
        <div class="col">
          <button class="medButtonGray">
          </button>
        </div>
        <!--Mittag-->
        <div class="col">
          <button class="medButtonTaken">
          </button>
        </div>
        <!--Abend-->
        <div class="col">
          <button class="medButtonNotTaken">
          </button>
        </div>
        <!--Nacht-->
        <div class="col">
          <button class="medButtonColorBlindTaken">
          </button>
        </div>
      </div>
      <!--Mo-->
      <div class="row">
        <!--Morgen-->
        <div class="col">
          <button class="medButtonColorBlindTaken">
          </button>
        </div>
        <!--Mittag-->
        <div class="col">
        </div>
        <!--Abend-->
        <div class="col">
        </div>
        <!--Nacht-->
        <div class="col">
        </div>
      </div>
      <!--Di-->
      <div class="row">
        <!--Morgen-->
        <div class="col">
        </div>
        <!--Mittag-->
        <div class="col">
        </div>
        <!--Abend-->
        <div class="col">
        </div>
        <!--Nacht-->
        <div class="col">
        </div>
      </div>
      <!--Mi-->
      <div class="row">
        <!--Morgen-->
        <div class="col">
        </div>
        <!--Mittag-->
        <div class="col">
        </div>
        <!--Abend-->
        <div class="col">
        </div>
        <!--Nacht-->
        <div class="col">
        </div>
      </div>
      <!--Do-->
      <div class="row">
        <!--Morgen-->
        <div class="col">
        </div>
        <!--Mittag-->
        <div class="col">
        </div>
        <!--Abend-->
        <div class="col">
        </div>
        <!--Nacht-->
        <div class="col">
        </div>
      </div>
      <!--Fr-->
      <div class="row">
        <!--Morgen-->
        <div class="col">
        </div>
        <!--Mittag-->
        <div class="col">
        </div>
        <!--Abend-->
        <div class="col">
        </div>
        <!--Nacht-->
        <div class="col">
        </div>
      </div>
      <!--Sa-->
      <div class="row">
        <!--Morgen-->
        <div class="col">
        </div>
        <!--Mittag-->
        <div class="col">
        </div>
        <!--Abend-->
        <div class="col">
        </div>
        <!--Nacht-->
        <div class="col">
        </div>
      </div>
      <!--So-->
      <div class="row">
        <!--Morgen-->
        <div class="col">
        </div>
        <!--Mittag-->
        <div class="col">
        </div>
        <!--Abend-->
        <div class="col">
        </div>
        <!--Nacht-->
        <div class="col">
        </div>
      </div>
    </div>
    <div class="rightNavigation">
      <button id="sideButtonright" class="navButton" ng-click="opentel()" >
        <img class="navImg" src="img\ButtonTelRight.PNG"></img>
      </button>
    </div>
  </ion-content>
</ion-view>
