<link href="css/styleTel.css" rel="stylesheet">

<ion-view view-title="Telefonbuch">
    <ion-content class="wrapper">
        <!--Row 1-->
        <div class="row responsive">
          <div class="col btn_size">
            <button class="callButton" ng-click="getContacts()">
                <img class="imgTel" src="img/addCross.png"></img>
                <span class="telLabel">Roland</span>
            </button>
          </div>
          <div class="col btn_size">
            <button class="callButton" ng-click="getContacts()">
              <img class="imgTel" src="img/addCross.png"></img>
                <span class="telLabel">Jolanda</span>
            </button>
          </div>
          <div class="col btn_size">
            <button class="callButton" ng-click="getContacts()">
                <img class="imgTel" src="img/addCross.png"></img>
                <span class="telLabel">Christoph</span>
            </button>
          </div>
        </div>

        <!--Row 2 with Nav-->
        <div class="row  responsive">
          <div class="col leftNavigation">
            <button id="sideButtonleft" class="navButton" ng-click="openmedi()">
                <img class="navImg" src="img\ButtonMediLeft.PNG"></img>
            </button>
          </div>
          <div class="col btn_size">
            <button class="callButton" ng-click="getContacts()">
                <img class="imgTel" src="img/addCross.png"></img>
                <span class="telLabel">Karin</span>
            </button>
          </div>
          <div class="col btn_size">
            <button class="callButton" ng-click="getContacts()">
                <img class="imgTel" src="img/addCross.png"></img>
                <span class="telLabel" >Markus</span>
            </button>
          </div>
          <div class="col rightNavigation">
            <button id="sideButtonright" class="navButton" ng-click="openhome()">
                <img class="navImg" src="img\HomeButtonRight.PNG"></img>
            </button>
          </div>
        </div>

        <!--Row 3-->
        <div class="row  responsive">
          <div class="col btn_size">
            <button class="callButton" ng-click="getContacts()">
                <img class="imgTel" src="img/addCross.png"></img>
                <span class="telLabel" style='margin-left:-17%'>Hausarzt</span>
            </button>
          </div>
          <div class="col btn_size">
            <button class="callButton" ng-click="getContacts()">
                <img class="imgTel" src="img/addCross.png"></img>
                <span class="telLabel" style='margin-left:-13%'>Notruf</span>
            </button>
          </div>
          <div class="col btn_size">
            <button class="callButton" ng-click="getContacts()">
              <img class="imgTel" src="img/addCross.png"></img>
                <span class="telLabel" style='margin-left:-12%'>Spitex</span>
            </button>
          </div>
        </div>
    </ion-content>
</ion-view>
