.wrapper{
  position:absolute;
   width:100%;
   height:100%;
}

.scroll {
    height:100%;
}


/*----------------------------------*/
/*-----------            -----------*/
/*----------- NAVIGATION -----------*/
/*-----------            -----------*/
/*----------------------------------*/

.leftNavigation {
    height: 100%;
    width: 15%;
    float: left;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    padding-top: 1%;
    float:left;
    width:70%;

}
.rightNavigation {
    height: 100%;
    width: 15%;
    float: right;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuButtons{
    width: 8%;
    height: 8%;
    margin-left: 7%;
    margin-top: 2%;
    float: left;
}

.medButton{
  background: transparent;
  border: none !important;
  font-size:0;
  padding: 0;
}

.medText{
  font-size: 1.5vw;
  width: 12%;
  text-align: center;
}

.popup{
  width: 75% !important;
  height: 75% !important;
}

.mediPopUp{
  align-items: center;
  width: 100%;
}

.smallMediPic{
  align-items: center;
  margin-top: 7%;
  height: 42%;
  width: 42%;
  content: url("../img/ButtonMediGray.png");
}

.medButtonGray{
  align-items: center;
  margin-top: 7%;
  height: 42%;
  width: 42%;
  content: url("../img/ButtonMediGray.png");
}


.colSize{
  float: left;
  max-width: 25%;
}
 .colSize.bigger{
    max-width: 10% !important;
    text-align: center;

 }

 .my-custom-popup{
     .popup{
       width: 80%;
       height: 100%;
     }
     .popup-head{
       width: 80%;
       height: 100%;
     }
     .popup-title{
       font-size: 2vw;
     }
     .popup-sub-title{
     font-size: 2vw;
     }
     .popup-body{
        width: 80%;
        height: 100%;
     }
   }



.colSize.morning{
  min-width: 22.7%;
  max-width: 22.7%;
  margin-top: -2.1%;
  margin-left: -6.4%;
}
.colSize.noon{
  min-width: 22.8%;
  max-width: 22.8%;
  margin-top: -2.1%;

}
.colSize.evening{
  min-width: 22.7%;
  max-width: 22.7%;
  margin-top: -2.1%;
  margin-right: ;

}
.colSize.night{
  min-width: 22.78%;
  max-width: 22.78%;
  margin-top: -2.1%;
  margin-right: -0.6%;


}

.TextDefine{
  min-width: 10%;
  max-width: 10%;
  text-align: center;
  font-size: 1.5vw;
  margin-right: 6%;
}



.HeaderBlock{
  background-color: #FFFFFF;
  font-size: 1vw;
}

.MorningColor{
  background-color: #FF9933;
  font-size: 1vw;
}

.NoonColor{
  background-color: #FFCC00;
  font-size: 1vw;
}

.EveningColor{
  background-color: #33CCFF;
  font-size: 1vw;
}

.NightColor{
  background-color: #3399FF;
  font-size: 1vw;
}

.setMedPlan{
  width: 100%;
  font-size: 1.5vw;
  text-align: center;
}
