/*Portrait: width 601px height 881px
Landscape: width 962px height 529px*/
.telLabel{
padding-bottom:0 !important;
}

.col.btn_size{
  max-width: 10%;
  max-height: 10%;
}

.callButton{
  background-color:#008A9D;
  background-position: top;
  background-repeat: no-repeat;
  font-size: 2vh;
  color:white;
  position: relative;
  border: none;
  border-radius: 5%;

}

.row{
  max-height: 33%;
  max-width: 100%;
}

.col{
  height: 33%;
  width: 100%;
}

.imgTel{
  width: 100%;
  height: 100%;
}
