.wrapper{
  position:absolute;
   width:100%;
   height:100%;
}

.menuButtons{
    width: 8%;
    height: 8%;
    margin-left: 7%;
    margin-top: 2%;
    float: left;
}

.medButton{
  background: transparent;
  border: none !important;
  font-size:0;
  padding: 0;
}

.medText{
  font-size: 1.5vw;
  width: 12%;
  text-align: center;
}

.popup{
  width: 75% !important;
  height: 75% !important;
}

.mediPopUp{
    width: 100%;
    float: left;
    display: block;
    margin-top: -5%;
}

.MediPopUpStyle{
  display: block;
  width: 100%;
  float: left;
  display: block;
  margin-top: 0px;
}

.mediPopUpFont{
    font-size: 2vw;
}

.ImgDayTimePopUp{
  height: 60px !important;
  float: left;
}

.ImgDayTimePopUpWidth{
  height: 40px !important;
  float: left;
}

.ImgDayPopUp{
  height: 50px;
  width: :50px;
  float: left;

}

.gg{
  float: left;
  margin: 0px;
  padding: 0px;
}

.BigSpacer{
  margin-left: 10%;
  float: left;
}

.spacer{
  width: 70%;
  float: left;
}

.PopUpLabel{
  float: left;
  width: 50%;
}

.font{
  font-size: 2vw !important;
}

.my-custom-popup{
    .popup{
      width: 80%;
      height: 100%;
    }
    .popup-head{
      width: 80%;
      height: 100%;
    }
    .popup-title{
      font-size: 2vw;
    }
    .popup-sub-title{
    font-size: 2vw;
    }
    .popup-body{
       width: 80%;
       height: 100%;
    }
  }


.CreateMediButton{
  width: 28%;
  height: 75%;
  margin-left: 10%;
  margin-top: 2%;
  padding-bottom: 0;
  margin-bottom: -10%;
}

.Spacer{
  margin-left: 2%;
  float: left;
}

.ImgMorning{
  width: auto;
  height: auto;
}

.ImgNoon{
  width: auto;
  height: auto;
}

.ImgEvening{
  width: auto;
  height: auto;
}

.ImgNight{
  width: auto;
  height: auto;

}


.smallMediPic{
  align-items: center;
  height: 50%;
  width: 50%;
  content: url("../img/ButtonMediGray.png");
}

.medButtonGray{
  align-items: center;
  height: 30%;
  width: 30%;
  content: url("../img/ButtonMediGray.png");
}

.colSize{
  width: 20%;
}

.HeaderBlock{
  background-color: #CCCCCC;

}

.mediBox{
  width: 100%;
  height: 25%;
  font-size: 1.5vw;
}

.mediBoxImg{
  width: 50%;
  height: 50%;
}

.mediBoxItem{
  width: 100%;
  height: 100%;
}


.buttonStatusIMG{
  align-items: center;
  height: 15%;
  width: 15%;
  content: url("../img/checked-checkbox-512.png");
}

.DayTimeRow{
  max-width: 50%;
  float: left;
}
