.wrapper{
  position:absolute;
   width:100%;
   height:100%;
}


#NavButton {
    background: transparent;
    border: none !important;
    font-size:0;
    padding-top: 15%;
}

#spacer{
  padding-top: 15%;
}


#logo{
  position: absolute;
  padding-left: 25%;
}

#sideButtonright{
  width: 150px;
  height: 250px;
  background: transparent;
  border: none !important;
  font-size:0;
  float: left;

}

#sideButtonleft{
  width: 150px;
  height: 250px;
  background: transparent;
  border: none !important;
  font-size:0;
  float: right;
}

/* Empty. Add your own CSS if you like */
